[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
	branch = master
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
